@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .asidemenu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 3;
        transform: translateX(-102%);
        &.active{
            transform: unset;
            width: 280px;
            opacity: 1;
            visibility: visible;
            padding: 0px 1rem;
        }
    }
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}